body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding: 40px 10px;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 700px;
  height: 700px;
  table-layout: fixed;
  border: 12px solid #000000;
}

td {
  border: 10px solid #000000;
  padding: 0;
  margin: 0;
}

.white {
  background-color: #ffffff;
}
.red {
  background-color: #e2231a;
}
.yellow {
  background-color: #f4c11f;
}
.blue {
  background-color: #1029a4;
}
.black {
  background-color: #000;
}